{% extends "base.html" %} 
{% block title %}User{% endblock title %}
{% block body %}


    <center>
    
        <form name="register" method="post" action="../insertclient/">  
            {% csrf_token %}
             
    
            <pre> 
                <h1>Register Form </h1>
    
                Client ID     :<input type="text" name="tcid" value="" width="200" ><br>
                Client Name   :<input type="text" name="tcname" value="" width="200" ><br>
                Created by    :<input type="text" name="tccreate" value="" width="200" ><br>
                
                
                
                <input type="Submit" name="reg" value="Click To Register" width="300" height="100" >
            </pre>
        </form>
    </center>
    
    
    

{% endblock body %}